<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | Invoices</title>
</head>

	<body>
		<nav th:replace="base :: site-nav('none')">
		</nav>
			
			<table id = "invoiceTable"
				   class="table table-bordered"
				   th:if="${invoices != null}">
				   
				<thead>
					<tr bgcolor = "#cce6ff"> 
						<th> Invoice ID </th>
						<th> Vendor </th>
						<th> Pay Period </th>
						<th> Vendor Phone </th>
						<th> Status </th>
						<th>  </th> <!-- For regenerate button -->
						<th>  </th> <!-- For view button -->
					</tr>
				</thead>
				
				<tbody>
					<tr th:each = "invoice, iter : ${invoices}"> 
						<td th:text = "${invoice.getInvoiceId()}">  </td>
						<td th:text = "${invoice.getName()}">  </td>
						<td th:text = "${invoice.getPeriodStart()}">  </td>
						<td th:text = "${invoice.getPhone()}">  </td>
						<td th:text = "${invoice.getStatus()}">  </td>
						<td><a th:href="@{/invoice/view/{path}(path=${invoice.getInvoiceId()})}"> View </a></td>
						<td><a th:if = "${invoice.status == draft}" th:href="@{/invoice/regenerate/{path}(path=${invoice.getInvoiceId()})}"> Regenerate </a></td>
					</tr>
				</tbody>
			
			</table>
			
	</body>

</html>