<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
	  <title id="pageTitle">VMS | New Invoice</title>
	</head>

<body>

	<nav th:replace="base :: site-nav('none')">
	</nav>
	
		<div class="formAlignCenter" align = "center">
		
		    <h1>New Invoice</h1>
		    
		    <form action="#" th:action="@{/newInvoice}" th:object="${selectedVendor}" method="post">
				<h4>Select Vendor</h4>
				<!-- Cycyles through every vendor and includes their names into the list -->
				<select th:each = "vendor : ${vendors}" th:value = "${selectedVendor.name}">
 					<option th:text = "${vendor.getName()}" />
				</select>
				<!-- Cycyles through every project-timesheet and adds their dates to the list -->
				<h4>Period Start</h4>
		        <select th:each = "projTim : ${projectTimesheets}" th:value = "${date}">
 					<option th:text = "${projTim.getWeekStarting()}"/>
				</select>
		        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
		    </form>
		</div>
	<footer th:replace="base :: site-footer"></footer>
		
	</body>
</html>