<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | View Invoice</title>
</head>

	<body>
		<div align = "center">
			<!-- Header for invoice, includes invoice ID -->
			<h3 th:text = "INVOICE + ' ' + '#' + ${invoice.getInvoiceId()} + ' for Project(s): ' + ${project.getName()}"> </h3>
			<!-- The outer table for the invoice  -->
			<table id = "invoiceOutterTable"
				   class = "table table-bordered"
				   style = "white-space:nowrap; max-width:70%; border-color: #6699ff">
			
				<thead>
					<tr>
						<th bgcolor = "#cce6ff" style = "border-color: #6699ff"> Bill To </th>
						<th bgcolor = "#cce6ff" style = "border-color: #6699ff"> Ship To </th>
					</tr>
				</thead>	
			
				<tbody>
					<!-- First row in outer table -->
					<tr>
						<!-- Information: Vendor Name, Vendor Address, Vendor Phone Number -->
						<td style = "border-color: #6699ff">
							<!-- Inner table 1 for information in the invoice -->
							<table id = "topLeftCell"
								   class = "table"
								   style = "border-collapse: separate; border-spacing: 5px;">
								<tbody>
									<tr>
										<td> <p><b> Customer: </b></p> </td>
										<td> <p th:text = " ${project.getVendor().getName()} "></p> </td>
									</tr>
									<tr>
										<td> <p><b> Address: </b></p> </td>
										<td> <p th:text = "${invoice.getAddress()}"></p> </td>
									</tr>
									<tr>
										<td> <p><b> Phone: </b></p> </td>
										<td> <p th:text = "${invoice.getPhone()}"></p> </td>
									</tr>
								</tbody>
							</table>
						</td>
						<!-- Information: HP Tech Systems, HP Tech Address, HP Tech Phone, HP Tech Contact Name -->
						<td style = "border-color: #6699ff">
							<!-- Inner table 2 for information in the invoice -->
							<table id = "topRightCell"
								   class = "table"
								   style = "border-collapse: separate; border-spacing: 5px;">
								<tbody>
									<tr>
										<td> <p><b> Recipient: </b></p> </td>
										<td> <p th:text = " 'HP Tech Systems LLC' "></p> </td>
									</tr>
									<tr>
										<td> <p><b> Address: </b></p> </td>
										<td> <p th:text = " '1307 Carmony St, Collierville TN 38017' "></p> </td>
									</tr>
									<tr>
										<td> <p><b> EIN: </b></p> </td>
										<td> <p th:text = " '81-0935780' "></p> </td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<!-- Second row in outer table -->
					<tr>
						<!-- Information: Date Pyament is Due, Recruiter Name -->
						<td style = "border-color: #6699ff">
							<!-- Inner table 3 for information in the invoice -->
							<table id = "bottomLeftCell"
								   class = "table"
								   style = "border-collapse: separate; border-spacing: 5px;">
								<tbody>
									<tr>
										<td> <p><b> Payment Due: </b></p> </td>
										<td> <p th:text = "${invoice.getName()}"></p> </td>
									</tr>
									<tr>
										<td> <p><b> Recruiter: </b></p> </td>
										<td> <p th:text = "${invoice.getRecruiter()}"></p> </td>
									</tr>
								</tbody>
							</table>
						</td>
						<!-- Information: Vendor Name, Vendor Address, Vendor Phone Number -->
						<td style = "border-color: #6699ff">
							<!-- Inner table 1 for information in the invoice -->
							<table id = "bottomRightCell"
								   class = "table"
								   style = "border-collapse: separate; border-spacing: 5px;">
								<tbody>
									<tr>
										<td> <p><b> Consultant Name: </b></p> </td>
										<td> <p th:text = "${invoice.getName()}"></p> </td>
									</tr>
									<tr>
										<td> <p><b> Rate: </b></p> </td>
										<td> <p th:text = "'$' + ${invoice.getRate()}"></p> </td>
									</tr>
									<tr>
										<td> <p><b> Total Hours: </b></p> </td>
										<td> <p th:text = "${invoice.getTotalHours()}"></p> </td>
									</tr>
									<tr>
										<td> <p><b> Total Amount: </b></p> </td>
										<td> <p th:text = "'$' + ${invoice.getTotalAmt()}"></p> </td>
									</tr>
									<tr>
										<td> <p><b> Billing Dates: </b></p> </td>
										<td> <p th:text = "${invoice.getPeriodStart()} + ' through ' + ${invoice.getPeriodEnd()}"></p> </td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			
			</table>
			
		<h5> <b>Status:</b> <b th:text = "${invoice.getStatus()}"></b> </h5>
		<footer th:replace="base :: site-footer"></footer>
		</div>
	</body>

</html>