<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | View Invoice</title>
</head>

	<body>
		<nav th:replace="base :: site-nav">
		</nav>
			<h4>Invoice X</h4>
			<img src="https://d3mg6n5cijb75m.cloudfront.net/assets/invoice_templates/en/invoice/165-3753b1f066d38f6401ec5b18f95bcb10e8a7a01aee0a087b2ed9bded8e4885c6.png" alt="" height="400" width="400"/>
			<h4>Vendor</h4>
			<br/>
			<a href="http://localhost:8080/invoices">Return to Invoices</a>	
	</body>

</html>