< !DOCTYPE html>
<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | Generate Paystub</title>
</head>
	<body>
		<nav th:replace="base :: site-nav">
		</nav>
<!--
	ALERT!!! ALERT!!! ALERT!!!
	Go do the framework on the paystub itself rather than the generation!
	Think of how to format using Excel as a workspace, but DON'T use this for the actual thing!
	Then find out how to make such cells in HTML and the ways to take DB info and throw them into their respective cells.
	For Iteration 3, figure out how to convert the resulting image into a PDF. If that fails, a raw image could be rendered.
-->
		<table class="Tabular Paystub"cellspacing="0"cellpadding="0">
			<thead>
				<tr>
					<!--This is for whoever is getting paid.-->
					<th>Payable To</th>
					<!--This is for which week is being paid for.-->
					<th>Week Ending</th>
					<!--This is for how many hours, if it's hourly, the pay is worth.-->
					<th class="ActionCell"colspan="1"rowspan="2">Hours<br>Billable</th>
					<!--This is for the total money that is being paid to the party mentioned in the first column.-->
					<th>Amount Due</th>
				</tr>
			</thead>
			<tbody>
				<tr class="">
					<td class="Name"title="">
						<div class=""title="">
							<!-- Code that gets name of party to be paid from ID of invoice. -->
						</div>
					</td>
					<td class="Week"title="">
						<div class=""title="">
							<!-- Code that gets week of work to pay for from ID of invoice. -->
						</div>
					</td>
					<td class="Hours"title="">
						<div class=""title="">
							<!-- Code that gets duration of work to be paid for from ID of invoice. -->
						</div>
					</td>
					<td class="Total"title="">
						<div class=""title="">
							<!-- Code that gets total amount of money to be paid based on work, hours, and taxes if applicable, from ID of invoice. -->
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="Even">
					<td colspan="4">
						<div>&nbsp;&nbsp;</div>
					</td>
					<td class="LastChild Summary"colspan="2">
						<div class="">
							<!-- Code that gets a summary of the invoice. -->
						</div>
					</td>
				</tr>
				<tr class="TablePaginator">
					<td class="LastChild"colspan="299">
						<div>&nbsp;&nbsp;</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</body>
</html>