<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | Paystubs</title>
</head>

	<body>
		<nav th:replace="base :: site-nav('none')">
		</nav>
		<!-- admin version -->
		<h1>Paystub History</h1>
		
		<p th:if="${paystubs == null OR paystubs.isEmpty()}" th:text="'No paystubs found'"></p>
		<table id="tsTable"
		       class="table table-bordered"
		       th:if="${paystubs != null}"> <!--  and not #list.isEmpty(vendors) -->
        <thead>
            <tr class="center middle">
                <th>Employee Name</th>
                <th>Dates</th>
                <th>Amount</th>
                <th>Date Created</th>
                <th>Status</th>
                <th>Date Voided</th>
                <th>Check No</th>
                <th>Check Date</th>
                <th th:if="${employee.permissionLevel > 1}"></th>
                <th th:if="${employee.permissionLevel > 1}"></th>
                <th th:if="${employee.permissionLevel > 1}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ps : ${paystubs}">
                <td th:text="${ps.firstname} + ' ' + ${ps.lastname}"></td>
                <td th:text="${#temporals.format(ps.periodStart,'MM/dd/yyyy')} + ' - ' + ${#temporals.format(ps.periodEnd,'MM/dd/yyyy')}"></td>
                <td th:text="${ps.netPay}"></td>
                <td th:text="${#temporals.format(ps.createdDate,'MM/dd/yyyy HH:mm')}"></td>
                <td th:text="${ps.status}"></td>
               	<td th:text="${ps.dateVoided} ? ${#temporals.format(ps.dateVoided,'MM/dd/yyyy HH:mm')}"></td>
                <td th:text="${ps.checkNo != 0} ? ${ps.checkNo}"></td>
                <td th:text="${ps.checkDate} ? ${#temporals.format(ps.checkDate,'MM/dd/yyyy HH:mm')}"></td>
                <td><a th:href="@{/paystub/{path}(path=${ps.paystubId})}">View</a></td>
                <td th:if="${employee.permissionLevel > 1}"><a th:if="${ps.status.toString() != 'VOIDED' and employee.permissionLevel > 1}" th:href="@{/paystub/addCheck(pId=${ps.paystubId})}">Issue Check</a></td>
                <td th:if="${employee.permissionLevel > 1}"><a th:if="${ps.timesheet.status.toString() != 'NOT_SUBMITTED'}" th:href="@{/paystub/regenerate(pId=${ps.paystubId})}">Regenerate</a></td>
                <td th:if="${employee.permissionLevel > 1}"><a th:if="${ps.timesheet.status.toString() != 'NOT_SUBMITTED'}" th:href="@{/paystub/returnTimesheet(psId=${ps.paystubId})}">Return Timesheet</a>
                	<a th:if="${ps.timesheet.status.toString() == 'NOT_SUBMITTED'}" th:href="@{/timesheet/{id}(id=${ps.timesheet.timesheetId})}">View Returned Timesheet</a></td>
            </tr>
        </tbody>
    </table>
    
    <footer th:replace="base :: site-footer"></footer>

	</body>
</html>