<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | Add Employee to Project</title>
</head>

	<body>
		<nav th:replace="base :: site-nav('none')">
		</nav>
		
		<div class="formAlignCenter" align = "center">
		
		    <h1 th:text="'Add Employee to ' + ${pe.project.name}">Add Check Number</h1>
		    <form th:fragment="proj-emp-form" action="#" th:action="@{/project/addEmployee}" th:object="${pe}" method="post">
		    	<div>
		    		<label for="pe.employee">Employee:</label>
		    		<select name="employee">
					   <option th:each="e : ${emps}"
							th:selected="${pe.employee != null AND pe.employee == e}"
							th:value="${e.empId}"
							th:text="${e.firstname + ' ' + e.lastname}">
					   </option>
					</select>
		    	</div>
		    	<div class="form-group">
					<label>Project Pay Rate Remaining:</label>
		    		<span th:text="'$' + ${project.remainingEmpPayRate()} + ' of $' + ${project.billingRate}"></span>
		    	</div>
		    	<div class="form-group">
					<label for="payRate">Employee Pay Rate:</label>
				    <input type="text" name="payRate" value="" th:value="${pe.payRate}" />
				</div>
				<div class="form-group">
					<label for="dateStarted">Date Started:</label>
				    <input type="date" name="dateStarted" value="" th:value="${pe.dateStarted}" />
				</div>
		        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
		    </form>
		    
		</div>
	
	<footer th:replace="base :: site-footer"></footer>
	</body>
	
</html>