<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel = "stylesheet" th:href = "@{/css/style.css}" />
</head>

	<body id = "main">
		
		<div th:fragment = "ProjectForm">
		
			<label for="project.vendor">Vendor:</label>
	    		<select name="vendor">
				   <option th:each="v : ${vendors}"
						th:selected="${project.vendor != null AND project.vendor.vendorId == v.vendorId}"
						th:value="${v.vendorId}"
						th:text="${v.name}">
				   </option>
				</select>
				<h4 >Project Name</h4>
				<h5 th:if = "${#fields.hasErrors('name')}" th:errors = "*{name}" style = "Color: red"></h5>
			    <input type = "text" name = "name" th:field = "*{name}" />
				<h4 >Billing Rate</h4>
				<h5 th:if = "${#fields.hasErrors('billingRate')}" th:errors = "*{billingRate}" style = "Color: red"></h5>
				<input type = "text" name = "billingRate" th:field = "*{billingRate}" />
		        <h4 >Client Company</h4>
		        <h5 th:if = "${#fields.hasErrors('clientName')}" th:errors = "*{clientName}" style = "Color: red"></h5>
		        <input type = "text" name = "clientName" th:field = "*{clientName}" />
		        <h4 >Client Location (Address)</h4>
		        <h5 th:if = "${#fields.hasErrors('clientLocation')}" th:errors = "*{clientLocation}" style = "Color: red"></h5>
		        <input type = "text" name = "clientLocation" value="" th:field="*{clientLocation}" />
		        <h4></h4>
		        <h5><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></h5>
		
		</div>
		
	</body>

</html>