<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | New Project</title>
</head>
	<body id = "main">
		<nav th:replace="base :: site-nav('none')">
		</nav>
		
		<div class="formAlignCenter" align = "center">
		
		    <h1>New Project</h1>
		    <form th:fragment="proj-form" action="#" th:action="@{/project/new}" th:object="${project}" method="post">

	    		<div th:replace = "project/fragments :: ProjectForm"></div>
	    		
		    </form>
		    
		</div>		
		
		<footer th:replace="base :: site-footer"></footer>
	</body>
</html>