<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | New Project</title>
</head>
	<body>
		<nav th:replace="base :: site-nav">
		</nav>
		
		<div class="formAlignCenter" align = "center">
		
		    <h1>New Project</h1>
		    <form th:fragment="proj-form" action="#" th:action="@{/project/new}" th:object="${project}" method="post">
					<h4 >Project Name</h4>
					<p th:if = "${#fields.hasErrors('name')}" th:errors = "*{name}" style = "Color: red"></p>
				    <input type = "text" name = "name" th:field = "*{name}" />
					<h4 >Billing Rate</h4>
					<p th:if = "${#fields.hasErrors('billingRate')}" th:errors = "*{billingRate}" style = "Color: red"></p>
					<input type = "text" name = "billingRate" th:field = "*{billingRate}" />
			        <h4 >Client Company</h4>
			        <p th:if = "${#fields.hasErrors('clientName')}" th:errors = "*{clientName}" style = "Color: red"></p>
			        <input type = "text" name = "clientName" th:field = "*{clientName}" />
			        <h4 >Client Location</h4>
			        <p th:if = "${#fields.hasErrors('clientLocation')}" th:errors = "*{clientLocation}" style = "Color: red"></p>
			        <input type = "text" name = "clientLocation" value="" th:field="*{clientLocation}" />
		        <h4></h4>
		        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
		    </form>
		    
		</div>		
		
		<footer th:replace="base :: site-footer"></footer>
	</body>
</html>