<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | All Projects</title>
</head>

	<body id = "main">
		<nav th:replace="base :: site-nav('none')">
		</nav>
		
		<h1>Projects</h1>
		<a th:href="@{/project/new}">Create New Project</a>
		<table id="projectTable"
		       class="table table-bordered"
		       th:if="${projects != null}"> <!--  and not #list.isEmpty(projects) -->
        <thead>
            <tr class="center middle">
                <th>Name</th>
                <th>Billing Rate</th>
                <th>Client Name</th>
                <th>Client Location</th>
                <th>Vendor</th>
                <!-- 
                <th></th>
                <th></th>
                 -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="project : ${projects}">
                <td><a th:href="@{/project/view(pId=${project.projectId})}" th:text="${project.name}">View</a></td>
                <td th:text="${project.billingRate}"></td>
                <td th:text="${project.clientName}"></td>
                <td th:text="${project.clientLocation}"></td>
                <td th:text="${project.vendor?.name}"></td>
                <!-- 
                <td><a th:href="@{/project/edit/{id}(id=${project.projectId})}">Edit</a></td>
                <td><a th:href="@{/project/addEmployee(pId=${project.projectId})}">Add Employee to Project</a></td>
                 -->
            </tr>
        </tbody>
    </table>
    
    <footer th:replace="base :: site-footer"></footer>
    
	</body>

</html>