<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | Dashboard</title>
</head>

<body>
	<nav th:replace="base :: site-nav('dashboard')">
	</nav>
	<div class = "employeeDashboardDiv" align = "left">
		<h3 th:text="'Logged in as: ' + ${e.firstname} + ' ' + ${e.lastname}"></h3>
		<!-- Non-submitted Timesheets -->
		<h3> Current Timesheets </h3>
		<!-- Will contain a list of non-submitted timesheets -->
		<ul th:each = "timesheet : ${openTimesheets}">
			<li>
				<b> <span  th:text = "'Pay Period: ' + ${timesheet.weekStarting}"></span> </b>
				<span th:text = "'(' + ${timesheet.status.toString()} + ')'"></span>
				<b> <a th:if="${timesheet.status.toString() != 'PENDING'}" th:href="@{/timesheet/edit/{path}(path=${timesheet.timesheetId})}"> Edit </a> </b>
				<a th:href="@{/timesheet/view/{path}(path=${timesheet.timesheetId})}"> View </a>
			</li> 
		</ul>
		
		<!-- Pending Paystubs -->
		<h3> Issued Paystubs </h3>
		<!-- Will contain a list of Paystubs that have been issued -->
		<ul th:each = "paystub : ${issuedPaystubs}">
			<li>
				<b> <span  th:text = "'Pay Period: ' + ${paystub.periodStart}"></span> </b>
				<span th:text = "'(Issued)'"></span>
				<a th:href="@{/paystub/view/{path}(path=${paystub.paystubId})}"> View </a>
			</li> 
		</ul>
		<a th:href="@{/paystubs/byEmployee(empId=${eId})}"> View Past Paystubs </a>
		<!-- Tax Information -->
		<h3> Tax Information </h3>
			<p> Coming Soon </p>
			<!-- Will contain necessary tax information -->
	
	</div>
</body>

</html>