<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | Edit Profile</title>
</head>

	<body id = "main">
		<nav th:replace="base :: site-nav('none')">
		</nav>
	
		<div class="formAlignCenter" align = "center">
		
		    <h1>Edit Profile</h1>
		    <div th:replace = "employee/fragments :: EmployeeEditForm"></div>
		    
		    <a th:href="@{'/confirmNewPassword/' + ${employee.empId}}">Change your password</a>
		    
		</div>
	</body>
</html>