<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | All Vendors</title>
</head>

	<body id = "main">
		<nav th:replace="base :: site-nav('none')">
		</nav>
		
		<div align = "center">
		
			<h3>Email Confirmation Required</h3>
			<h6>We have found that your email address does not match the one we contacted for registration; you will have to confirm your preferred email address.</h6>
			<h6>We have just sent an email to your specified email address; please click on the link inside to confirm your email address.</h6>
		
		</div>
		
    <footer th:replace="base :: site-footer"></footer>

	</body>
</html>