<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | Admin Dashboard</title>>
</head>

	<body>
		<nav th:replace="base :: site-nav('admin')">
		</nav>
		
		<main>
			<ul>
				<li><a th:href="@{/project/new}">Add a Project</a></li>
				<li><a th:href="@{/projects/all}">View Project Overview</a></li>
				<li><a th:href="@{/vendor/new}">Add a Vendor</a></li>
				<li><a th:href="@{/vendors}">View Vendor Overview</a></li>
				<li><a th:href="@{/}">Add New Employee Account</a></li>
				<li><a th:href="@{/}">Change Employee Permission Level (owner only)</a></li>
				<li><a th:href="@{/projects/all}">Add Employees To Project</a></li>
				<li><a th:href="@{/}">Issue New Timesheets</a></li>
				<li><a th:href="@{/}">Approve Pending Timesheets</a></li>
				<li><a th:href="@{/timesheets/byStatus(status='VERIFIED')}">Issue Paystub</a></li>
				<li><a th:href="@{/paystubs}">Paystub History</a></li>
				<li><a th:href="@{/}">Issue Invoice</a></li>
				<li><a th:href="@{/}">Invoice History</a></li>				
			</ul>
		</main>
		<div class = "adminDashboardDiv" align = "left">
			
			<!-- Pending Timesheets -->
		<h2> Pending Timesheets </h2>
		<!-- Will contain a list of pending timesheets -->
		<ul>
			<li>Timesheet 1, Date Submitted, Status</li>
			<li>Timesheet 2, Date Submitted, Status</li>
			<li>Timesheet 3, Date Submitted, Status</li>
			<li>Timesheet 4, Date Submitted, Status</li>
			<li>Timesheet 5, Date Submitted, Status</li>
			<li>Timesheet 6, Date Submitted, Status</li>
			<li><b> <a href = "http://localhost:8080/timesheet/approve">View all pending timesheets...</a> </b></li>
		</ul>
		
		<!-- Past Timesheets -->
		<h2> Approved Timesheets </h2>
			<!--  Will contain a list of past timesheets for all employees -->
			<ul>
				<li>Timesheet 1, Date Created</li>
				<li>Timesheet 2, Date Created</li>
				<li>Timesheet 3, Date Created</li>
				<li>Timesheet 4, Date Created</li>
				<li>Timesheet 5, Date Created</li>
				<li>Timesheet 6, Date Created</li>
				<li><b> <a href = "http://localhost:8080/timesheets">View all timesheets...</a> </b></li>
			</ul>
			
		<!-- Corrected Paystubs -->
		<h2> Corrected Paystubs </h2>
			<!-- Will contain a list of Paystubs that have returned from employee -->
			<ul>
				<li>Paystub 1, Date Received, Status</li>
				<li>Paystub 2, Date Received, Status</li>
				<li><b> <a href = "http://localhost:8080/paystubs">View all corrected paystubs...</a> </b></li>
			</ul>
			
		<!-- Past Paystubs -->
		<h2> Past Paystubs </h2>
			<!-- Will contain a list of Paystubs that have been approved and received -->
			<ul>
				<li>Paystub 1, Date Received, Status</li>
				<li>Paystub 2, Date Received, Status</li>
				<li>Paystub 3, Date Received, Status</li>
				<li>Paystub 4, Date Received, Status</li>
				<li>Paystub 5, Date Received, Status</li>
				<li>Paystub 6, Date Received, Status</li>
				<li><b> <a href = "http://localhost:8080/paystubs">View all paystubs...</a> </b></li>
			</ul>
			
		<!-- All Employees -->
		<h2> Employees </h2>
			<!-- Will contain a list of all employees -->
			<ul>
				<li>Employee Name, Active/Inactive, Date Hired, Current Project</li>
				<li>Employee Name, Active/Inactive, Date Hired, Current Project</li>
				<li>Employee Name, Active/Inactive, Date Hired, Current Project</li>
				<li>Employee Name, Active/Inactive, Date Hired, Current Project</li>
				<li>Employee Name, Active/Inactive, Date Hired, Current Project</li>
				<li>Employee Name, Active/Inactive, Date Hired, Current Project</li>
				<li><b> <a href = "http://localhost:8080/employees">View all employees...</a> </b></li>
			</ul>
		
		<!-- All Vendors -->
		<h2> All Vendors </h2>
			<!-- Will contain a list of all Vendors currently engaged in contracts -->
			<ul>
				<li>Company Name, Phone, Contact Name, Primary Email</li>
				<li>Company Name, Phone, Contact Name, Primary Email</li>
				<li>Company Name, Phone, Contact Name, Primary Email</li>
				<li>Company Name, Phone, Contact Name, Primary Email</li>
				<li>Company Name, Phone, Contact Name, Primary Email</li>
				<li>Company Name, Phone, Contact Name, Primary Email</li>
				<li><b> <a href = "http://localhost:8080/vendors">View all vendors...</a> </b></li>
			</ul>
		
		<!-- All Projects -->
		<h2> All Projects </h2>
			<!-- Will contain a list of all Projects currently being worked on by Employees -->
			<ul>
				<li>Project Name, Associated Employee(s), Associated Vendor </li>
				<li>Project Name, Associated Employee(s), Associated Vendor </li>
				<li>Project Name, Associated Employee(s), Associated Vendor </li>
				<li>Project Name, Associated Employee(s), Associated Vendor </li>
				<li>Project Name, Associated Employee(s), Associated Vendor </li>
				<li>Project Name, Associated Employee(s), Associated Vendor </li>
				<li><b> <a href = "http://localhost:8080/projects">View all projects...</a> </b></li>
			</ul>
		
		<!-- Tax Information -->
		<h2> Tax Information </h2>
			<!-- Will contain necessary tax information -->
		
		</div>
	</body>

</html>