<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | Admin Dashboard</title>>
</head>

	<body>
		<nav th:replace="base :: site-nav('admin')">
		</nav>
		
		<main>
			<h5 th:text="'Logged in as: ' + ${emp.getFirstname()} + ' ' + ${emp.getLastname()}"></h5>
			
			<h3 th:text="'Employees'"></h3>
			<ul>
				<li><a th:href="@{/inviteEmployee}">Invite A New Employee</a></li>
				<li><a th:href="@{/employees}">Manage Employees</a></li>
			</ul>
				
			<h3 th:text="'Projects'"></h3>
			<ul>
				<li><a th:href="@{/vendor/new}">Add a Vendor</a></li>
				<li><a th:href="@{/vendors}">Manage Vendors</a></li>
				<li><a th:href="@{/project/new}">Add a Project</a></li>
				<li><a th:href="@{/projects/all}">Manage Projects</a></li>
				<li><a th:href="@{/projects/all}">Add Employees To Project</a></li>
			</ul>
				
			<h3 th:text="'Timesheets'"></h3>
			<ul>
				<li><a th:href="@{/timesheet/new}">Issue Timesheet</a></li>
				<li><a th:href="@{/timesheets/byStatus(status='PENDING')}">Approve Pending Timesheets</a></li>
				<!-- <li><a th:href="@{/timesheets/byStatus(status='VERIFIED')}">Issue Paystub</a></li>  -->
			</ul>
				
			<h3 th:text="'Accounting'"></h3>
			<ul>
				<li><a th:href="@{/paystubs/all}">Paystubs</a></li>
				<li><a th:href="@{/invoice/new}">Issue Invoice</a></li>
				<li><a th:href="@{/invoices}">Invoices</a></li>
			</ul>
		</main>
		
		<footer th:replace="base :: site-footer"></footer>
	</body>

</html>