<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: site-head">
</head>

<body>
	<nav th:replace="base :: site-nav('none')"></nav>

	<h1>Vendor Management System</h1>

	<div class="main-menu">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				Timesheet <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="http://localhost:8080/timesheet/new">New
						Timesheet</a></li>
				<li><a href="http://localhost:8080/timesheet/edit">Edit
						Timesheet</a></li>
				<li><a href="http://localhost:8080/timesheets">Timesheet
						History</a></li>
				<li><a href="http://localhost:8080/timesheet/view">View
						Timesheet</a></li>
				<li><a href="http://localhost:8080/timesheet/approve">Approve
						Timesheet</a></li>
			</ul>
		</div>


		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				Project <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="http://localhost:8080/project/new">New Project</a></li>
				<li><a href="http://localhost:8080/project/edit">Edit
						Project</a></li>
				<li><a href="http://localhost:8080/project/view">View
						Project</a></li>
				<li><a href="http://localhost:8080/projects">Project
						History</a></li>
			</ul>
		</div>

		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				Vendor <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="http://localhost:8080/vendor/new">New Vendor</a></li>
				<li><a href="http://localhost:8080/vendor/edit">Edit Vendor</a></li>
				<li><a href="http://localhost:8080/vendor/view">View Vendor</a></li>
				<li><a href="http://localhost:8080/vendors">Vendor History</a></li>
			</ul>
		</div>


		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				Paystub <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="http://localhost:8080/paystub/view">View
						Paystub</a></li>
				<li><a href="http://localhost:8080/paystubs">Paystub
						History</a></li>
			</ul>
		</div>

		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				Invoice <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="http://localhost:8080/invoice/new">New Invoice</a></li>
				<li><a href="http://localhost:8080/invoice/view">View
						Invoice</a></li>
				<li><a href="http://localhost:8080/invoices">Invoice
						History</a></li>
			</ul>
		</div>
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				Employee <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="http://localhost:8080/login">Login</a></li>
				<li><a href="http://localhost:8080/register">Register</a></li>
			</ul>
		</div>
	</div>

	<br />
	<p style="text-align:center;">
		The current time is: <b th:text="${execInfo.now.time}"></b>
	</p>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../public/js/bootstrap.min.js"></script>


</body>

<footer th:replace="base :: site-footer"></footer>

</html>
