<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- This is the basic login page -->

<head>
  <title>Login</title>
</head>

<body>

	<h1 align = "center"> Login </h1>
	
	<!-- Username form -->
	<h4 align = "center"> Username </h4>
	<div class = "alignFormCenter" align = "center">
		<form>
			<input type = "text" name="usernameField" autofocus = "autofocus" style="text-align:center;"></input>
		</form>
	</div>
	
	<!-- Password form -->
	<h4 align = "center"> Password </h4>
	<div class = "alignFormCenter" align = "center">
		<form>
			<input type = "password" name="passwordField" style="text-align:center;"></input>
		</form>
	</div>		

</body>

</html>