<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
	  <title id="pageTitle">VMS | Approve Timesheets</title>
	</head>

<body>

	<nav th:replace="base :: site-nav('none')">
	</nav>
	
	<h4 th:text = "'Employee Name: ' + ${timesheet.employee.firstname} + ' ' + ${timesheet.employee.lastname}"></h4>
	<h4 th:if = "${payPeriod == 1}">Pay Period Type: Weekly</h4> <h4 th:if = "${payPeriod == 2}">Pay Period Type: Bi-Weekly</h4>
	<h4 th:text = "'Pay Period: ' + ${timesheet.weekStarting.plusDays(1)}"></h4>
	
	<div th:replace = "timesheet/fragments :: viewTimesheet"></div>
	
	<form action="#" th:action="@{'/timesheet/approve/' + ${id}}" method="post">	
		<input type="submit" class = "button" value="Approve" /> <input type="reset" value="Reset" />
	</form>
	
	<footer th:replace="base :: site-footer"></footer>
		
	</body>
</html>