<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
	  <title id="pageTitle">VMS | Edit Timesheet</title>
	</head>

<body>

	<nav th:replace="base :: site-nav">
	</nav>
	
	<form action="#" th:action="@{/timesheet/edit}" method="post">
	
		<h2> Timesheet </h2>
		<h4 th:text = "'Status: ' + ${timesheet.getStatus()}"> </h4>
		
		<h4>Update Status</h4>
			<select th:field = "${timesheet.status}">
				<option th:value = "${statuses[0]}" th:text = "${statuses[0].toString()}"></option>
				<option th:value = "${statuses[1]}" th:text = "${statuses[1].toString()}"></option>
				<option th:value = "${statuses[2]}" th:text = "${statuses[2].toString()}"></option>
				<option th:value = "${statuses[3]}" th:text = "${statuses[3].toString()}"></option>
			</select>
		
	</form>
	<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	<footer th:replace="base :: site-footer"></footer>
		
	</body>

</html>