<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
	  <title id="pageTitle">VMS | Edit Timesheet</title>
	</head>

<body>

	<nav th:replace="base :: site-nav('none')">
	</nav>
	
	<form action="#" th:action="@{'/timesheet/edit/' + ${id}}" method="post">
	
		<h2> Timesheet </h2>
		<h4 th:text = "'Status: ' + ${editTS.getStatus()}"> </h4>
		
		<div th:replace = "timesheet/fragments :: editTimesheetHours"></div>
		
		<h4>Update Status</h4>
			<select th:field = "${editTS.status}">
				<option th:each = "status : ${statuses}" 
						th:value = "${status}" 
						th:text = "${status}"></option>
			</select>
		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	</form>
	<footer th:replace="base :: site-footer"></footer>
		
	</body>

</html>