<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel = "stylesheet" th:href = "@{/css/style.css}" />
</head>

	<body id = "main">
	
		<!-- Fragment that displays 3 columns with text and text fields underneath them -->
		<div align = "center" th:fragment = "newTimesheetForm">
		    
		    <form action="#" th:action="@{/submitTimesheet}" th:object="${editTimesheet}" method="post">
				<h4>Upload editTimesheet</h4>
				<input type="file" name="pic" accept="image/*"/>
				<h4>Starting Week</h4>
		        <input type="date" 	th:field="*{week_starting}" 		value = ""/>
		        <h4>Number of Hours</h4>
		        <input type="number" 	th:field="*{no_hours}" 	value = ""/>
		        <h4>Period</h4>
		        <select>
 					<option value="1">Weekly</option>
					<option value="2">Biweekly</option>
				</select>
		        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
		    </form>
		    
		</div>
		
		<div th:fragment = "viewTimesheet">
			
			<div th:if = "${payPeriod.toString() == 'WEEKLY'}">
				<table class = "table table-bordered"
					   style = "white-space:nowrap;">
					
					<thead>
						<tr bgcolor = "#cce6ff">
							<td> Project </td>
							<td th:each = "day : ${days}" th:utext = "${day.toString().substring(0,1) + day.toString().substring(1).toLowerCase()}
																	+ '&lt;br /&gt;' + ${timesheet.weekStarting = timesheet.weekStarting.plusDays(1)}"> </td>
							<td>Total</td>	
						</tr>
					</thead>
				
					<tbody>
						<tr th:each = "projectTimesheet : ${timesheet.projTimesheets}">
							<td th:text = "${projectTimesheet.projemp.project.name}"> </td>
							<td th:each = "day, iter : ${days}" th:text = "${projectTimesheet.weeks[0].hours__${iter.index + 1}__}"></td>
							<td th:text = "${projectTimesheet.calcTotalHoursOfPT()}"></td>
						</tr>
					</tbody>
				</table>
				
				<h4 th:text = "'Total Hours: ' + ${timesheet.calcTotalHoursOfT()}"></h4>
			</div>
			
			<div th:if = "${payPeriod.toString() == 'BIWEEKLY'} and ${timesheet.projTimesheets[0].weeks.size() == 2}" th:each = "i : ${#numbers.sequence(0, 1)}">
				<h3 th:text = "'Pay Period ' + ${i + 1}"></h3>
				<table class = "table table-bordered"
					   style = "white-space:nowrap;">
					
					<thead>
						<tr bgcolor = "#cce6ff">
							<td> Project </td>
							<td th:each = "day : ${days}" th:utext = "${day.toString().substring(0,1) + day.toString().substring(1).toLowerCase()}
																	+ '&lt;br /&gt;' + ${timesheet.weekStarting = timesheet.weekStarting.plusDays(1)}"> </td>
							<td>Total</td>	
						</tr>
					</thead>
				
					<tbody>
						<tr th:each = "projectTimesheet : ${timesheet.projTimesheets}">
							<td th:text = "${projectTimesheet.projemp.project.name}"> </td>
							<td th:each = "day, iter : ${days}" th:text = "${projectTimesheet.weeks.get(0).hours__${iter.index + 1}__}"></td>
						</tr>
					</tbody>
				
				</table>
			</div>
			
		</div>
			
		<div th:fragment = "editTimesheet">
			
			<div th:if = "${payPeriod.toString() == 'WEEKLY'}">
				<table class = "table table-bordered"
					   style = "white-space:nowrap;">
					
					<thead>
						<tr bgcolor = "#cce6ff">
							<td> Project </td>
							<td th:each = "day : ${days}" th:utext = "${day.toString().substring(0,1) + day.toString().substring(1).toLowerCase()}
																	+ '&lt;br /&gt;' + ${weekStarting.localdate = weekStarting.localdate.plusDays(1)}"> </td>
							<td>Total</td>	
						</tr>
					</thead>
				
					<tbody>
						<tr th:each = "projectTimesheet, projectIter : ${editTimesheet.projTimesheets}">
							<td th:text = "${projectTimesheet.projemp.project.name}"> </td>
							<td th:each = "day, iter : ${days}">
								<select th:field = "${editTimesheet.projTimesheets[__${projectIter.index}__].weeks[0].hours__${iter.index + 1}__}">
									<option th:value = "0" th:text = "'Enter Hours'"> </option>
									<option th:each = "i : ${#numbers.sequence(1, 12)}" th:value = "${i}" th:text = "${i}"></option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				
				<h4 th:text = "'Total Hours: ' + ${editTimesheet.calcTotalHoursOfT()}"></h4>
			</div>
			
			<div th:if = "${payPeriod.toString() == 'BIWEEKLY'} and ${timesheet.projTimesheets[0].weeks.size() == 2}" th:each = "i : ${#numbers.sequence(0, 1)}">
				<h3 th:text = "'Pay Period ' + ${i + 1}"></h3>
				<table class = "table table-bordered"
					   style = "white-space:nowrap;">
					
					<thead>
						<tr bgcolor = "#cce6ff">
							<td> Project </td>
							<td th:each = "day : ${days}" th:utext = "${day.toString().substring(0,1) + day.toString().substring(1).toLowerCase()}
																	+ '&lt;br /&gt;' + ${originalTimesheet.weekStarting = originalTimesheet.weekStarting.plusDays(1)}"> </td>
							<td>Total</td>	
						</tr>
					</thead>
				
					<tbody>
						<tr th:each = "projectTimesheet, iter : ${timesheet.projTimesheets}">
							<td th:text = "${projectTimesheet.projemp.project.name}"> </td>
							<td th:each = "day, iter : ${days}" th:text = "${projectTimesheet.weeks.get(0).hours__${iter.index + 1}__}"></td>
						</tr>
					</tbody>
				
				</table>
			</div>
		</div>
			
	</body>

</html>