<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: site-head">
<title id="pageTitle">VMS | All Timesheets</title>
</head>

<body id = "main">
	<nav th:replace="base :: site-nav('none')"></nav>

	<div class="content table-title">
		<h1>Pending Timesheets</h1>
		
		<h5 th:if="${timesheets == null OR timesheets.isEmpty()}" th:text="'No pending timesheets found'" style="Color: red"></h5>
	</div>

	<table id="timesheetsTable"
		class="table table-bordered table-fit main-table"
		th:if="${timesheets != null}">

		<thead>
			<tr bgcolor="#cce6ff">
				<!-- <th> Timesheet ID </th>  -->
				<th>Period Starting</th>
				<th>Employee</th>
				<th>Status</th>
				<!--<th th:if = "${edit}">  </th> For edit button -->
				<!-- <th>  </th> For view button -->
				<th></th>
				<!-- For approve/generate/regenerate button -->

			</tr>
		</thead>

		<tbody>
			<tr th:each="timesheet : ${timesheets}">
				<!-- <td th:text = "${timesheet.getTimesheetId()}">  </td>  -->
				<td th:text="${timesheet.getWeekStarting()}"></td>
				<td
					th:text="${timesheet.getEmployee().getFirstname()} + ' ' + ${timesheet.getEmployee().getLastname()}">
				</td>
				<td th:text="${timesheet.getStatus()}"></td>
				<td><a
					th:if="${timesheet.getStatus().toString() == 'NOT_SUBMITTED'}"
					th:href="@{/timesheet/edit/{path}(path=${timesheet.getTimesheetId()})}">
						Edit </a> <!-- <td><a th:href="@{/timesheet/view/{path}(path=${timesheet.getTimesheetId()})}"> View </a></td>  -->
					<a th:if="${timesheet.status.toString() == 'PENDING'}"
					th:href="@{/timesheet/approve/{id}(id=${timesheet.timesheetId})}">
						Approve </a> <a
					th:if="${timesheet.status.toString() == 'VERIFIED' AND timesheet.paystubs.isEmpty()}"
					th:href="@{/paystub/new/{path}(path=${timesheet.timesheetId})}">Generate
						Paystub</a> <a
					th:if="${timesheet.status.toString() == 'VERIFIED' AND !timesheet.paystubs.isEmpty()}"
					th:href="@{/paystub/regenerate(pId=${timesheet.paystubs.get(0).paystubId})}">Regenerate
						Paystub</a></td>
			</tr>
		</tbody>

	</table>

	<footer th:replace="base :: site-footer"></footer>

</body>
</html>