<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace= "base :: site-head">
  <title id="pageTitle">VMS | All Timesheets</title>
</head>

	<body>
		<nav th:replace="base :: site-nav('none')">
		</nav>
			<table id = "timesheetsTable"
				   class="table table-bordered"
				   th:if="${timesheets != null}">
				   
				<thead>
					<tr bgcolor = "#cce6ff"> 
						<th> Timesheet ID </th>
						<th> Pay Period </th>
						<th> Employee </th>
						<th> Status </th>
						<th>  </th> <!-- For view button -->
						<th>  </th> <!-- For edit button -->
						<th>  </th> <!-- For approve button -->
						<th>  </th> <!-- For generate paystub -->
						<th>  </th> <!-- For regenerate paystub -->
					</tr>
				</thead>
				
				<tbody>
					<tr th:each = "timesheet : ${timesheets}"> 
						<td th:text = "${timesheet.getTimesheetId()}">  </td>
						<td th:text = "${timesheet.getWeekStarting()}">  </td>
						<td th:text = "${timesheet.getEmployee().getFirstname()} + ' ' + ${timesheet.getEmployee().getLastname()}">  </td>
						<td th:text = "${timesheet.getStatus()}">  </td>
						<td><a th:if = "${timesheet.getStatus() == editCheck}" th:href="@{/timesheet/edit/{path}(path=${timesheet.getTimesheetId()})}"> Edit </a></td>
						<td><a th:href="@{/timesheet/view/{path}(path=${timesheet.getTimesheetId()})}"> View </a></td>
						<td><a th:if = "${timesheet.status.toString() == 'PENDING'}" th:href="@{/timesheet/approve/{id}(id=${timesheet.timesheetId})}"> Approve </a>
							<a th:if="${timesheet.status.toString() == 'VERIFIED' AND timesheet.paystubs.isEmpty()}" th:href="@{/paystub/new/{path}(path=${timesheet.timesheetId})}">Generate Paystub</a>
                			<a th:if="${timesheet.status.toString() == 'VERIFIED' AND !timesheet.paystubs.isEmpty()}" th:href="@{/paystub/regenerate(pId=${timesheet.paystubs.get(0).paystubId})}">Regenerate Paystub</a></td>
					</tr>
				</tbody>
			
			</table>

	<!-- 	<h1>Timesheets</h1>
		
		<table id="tsTable"
		       class="table table-bordered"
		       th:if="${timesheets != null}">
        <thead>
            <tr class="center middle">
                <th>Employee Name</th>
                <th>Week Starting</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ts : ${timesheets}">
                <td th:text="${ts.employee.firstname} + ' ' + ${ts.employee.lastname}"></td>
                <td th:text="${ts.weekStarting}"></td>
                <td th:text="${ts.status}"></td>
                <td><a th:href="@{/timesheet/{id}(id=${ts.timesheetId})}">View</a></td>
                <td><a th:if="${ts.status.toString() == 'VERIFIED' AND ts.paystubs.isEmpty()}" th:href="@{/paystub/new/{path}(path=${ts.timesheetId})}">Generate Paystub</a>
                	<a th:if="${ts.status.toString() == 'VERIFIED' AND !ts.paystubs.isEmpty()}" th:href="@{/paystub/regenerate(pId=${ts.paystubs.get(0).paystubId})}">Regenerate Paystub</a></td>
            </tr>
        </tbody>
    </table> -->

    <footer th:replace="base :: site-footer"></footer>

	</body>
</html>